<!-- ########## Tag ine ########## -->

<div class="slider">
  <div class="container">

    <div class="tagline-panel">

      <h1>
        Une nouvelle approche de l'<mark class="highlight1">immobilier</mark> pour les <mark class="highlight2">entreprises</mark>
      </h1>

      <p>
        "Des contrats qualibrés, des coûts optimisés, une gestion simplifiée"
      </p>

    </div>



  </div>
</div>


<!-- ########## Constat ########## -->

<div class="slider">
  <div class="container first-panel">

    <div class="left-content">
      <p>
        Vous êtes <strong>locataire</strong> et le plus souvent désarmés pour traiter vos sujets immobiliers face aux professionnels du secteur ?
      </p>
      <p>
        Beaucoup de <strong>temps de passé</strong> pour des négociations souvent à sens unique ?
      </p>
      <p>
        Des mauvaises surprises s'enchaînent et viennent <strong>impacter vos budgets</strong> ?
      </p>
    </div>

    <div class="right-content">
    </div>

  </div>
</div>

<!-- ########## Separateur ########## -->

<div class="slider pinkbg">
  <div class="container second-panel">
      <p>
        L'immobilier est un pivot essentiel de <strong>votre activité</strong> et de <strong>son développement</strong>.
      <br>  Mal défini,  il peut devenir un frein et un handicap financier.
      </p>
  </div>
</div>

<!-- ########## Proposition ########## -->

<div id="service" class="slider">
  <div class="container-header small">
    <h2>
      Nous vous proposons
    </h2>
    <div class="ticker"></div>
  </div>
</div>


<div class="slider">
  <div class="container third-panel">

    <div class="big-card">
      <h3>
        Un diagnostic de votre immobilier
      </h3>
      <p>
        Concrètement, nous centralisons l’intégralité de vos documents juridiques et financiers afin de réaliser un audit. Nous répondons aux questions qui vous animent et procédons aux ajustements si nécessaire :
      </p>
      <ul>
        <li>Est ce que ma facture est conforme à mon contrat ? (charges, indexation …)</li>
        <li>Mon loyer est-il aligné au marché ?</li>
        <li>Comment anticiper les coûts liés à mon contrat ?</li>
        <li>Au-delà du loyer, à quoi suis-je engagé ?</li>
      </ul>
    </div>

    <div class="big-card">
      <h3>
        Des actions sur mesure
      </h3>
      <p>
        Après cette mise au point, nous vous livrons clé en main des solutions adaptées à vos enjeux.
      </p>
      <p>
        Vous pensez avoir signé des engagements fermes et définitifs ?
        En réalité, il est toujours possible d’intervenir afin de réadapter votre immobilier en fonction de vos besoins immédiats.
      </p>
      <p>
        Nous vous représentons face aux différents interlocuteurs du marché.
      </p>
    </div>

  </div>
</div>

<div class="slider">
  <div class="container fourth-panel">
      <p class="subtitle">
        Vous êtes locataire de :
      </p>
  </div>
</div>

<div class="slider darkblueborders">
  <div class="container sixth-panel">

    <div class="medium-card">
      <%= image_tag("one-site.png", size: "49x73") %>
      <p>1 site ? &#128578;<br>Je souhaite être recontacté</p>
    </div>

    <div class="medium-card">
      <%= image_tag("several-site.png", size: "63x73") %>
      <p>Plusieurs sites ? &#128513;<br>Je souhaite être recontacté</p>
    </div>

  </div>
</div>


<!-- ########## Auto & centraliser ########## -->

<div id="outil" class="slider">
  <div class="container-header large">
    <h2>
      Automatisez et centralisez votre gestion de l'immobilier
    </h2>
    <div class="ticker"></div>
  </div>
</div>

<div class="slider">
  <div class="container fourth-panel">
      <p>
        Fini les tableaux excels, les échanges de mails interminables, les comptes rendus de missions dispersés et les réunions chronophages…
      </p>
  </div>
</div>

<div class="slider">
  <div class="container fifth-panel">
    <div class="small-card">
      <%= image_tag("storage.png", size: "57x60") %>
      <h3>Stockage centralisé et sécurisé de l'information</h3>
      <p>Retrouvez toutes les informations liées à vos sites (bail, facture, coordonnées...) ainsi que des fiches synthétiques de vos contrats</p>
    </div>
    <div class="small-card">
      <%= image_tag("alert.png", size: "43x60") %>
      <h3>Programmation des alertes</h3>
      <p>Créez des alertes sur les actions à ne pas manquer, les contrats à renouveler.
        Ne manquez aucune échéance et préparez au mieux vos grands rendez-vous stratégiques</p>
    </div>
    <div class="small-card">
      <%= image_tag("admin.png", size: "60x60") %>
      <h3>Console d'administration</h3>
      <p>Ajoutez vos différents utilisateurs, configurez leurs droits selon leur utilisation et leur secteur géographique</p>
    </div>
  </div>
</div>

<div class="slider pinkbottomborder">
  <div class="container">
      <div class="btn-demo">
        Demander une démo
      </div>
  </div>
</div>


<!-- ########## Equipe ########## -->

<div id="equipe" class="slider">
  <div class="container-header extrasmall">
    <h2>
      L'équipe
    </h2>
    <div class="ticker"></div>
  </div>
</div>

<!-- ########## Contact ########## -->

<div id="contact" class="slider">
  <div class="container sixth-panel">

    <div class="teammate-card">
      <%= image_tag("clara.png", :class => "avatar") %>
      <a href="https://www.linkedin.com/in/clara-maquet-102b0810b/">
        <p>
          Clara Maquet
          <%= image_tag("linkedin.png", :class => "linkedin") %>
        </p>
      </a>
    </div>

    <div class="teammate-card">
      <%= image_tag("laurence.png", :class => "avatar") %>
      <a href="https://www.linkedin.com/in/laurence-roy-84117054/">
        <p>
          Laurence Roy
          <%= image_tag("linkedin.png", :class => "linkedin") %>
        </p>
      </a>
    </div>

    <p>
      Nous sommes juristes spécialisées en droit immobilier.
      Après plus de 15 années d'expérience dans le secteur de l’immobilier d’entreprise, nous créons bxp afin de répondre aux nouvelles attentes d’un secteur en pleine mutation.
    </p>

  </div>
</div>


<!-- ########## Footer ########## -->

<div class="slider">
  <div class="container footer">
    <p>Tous droits réservés © bxp. 2021</p>
    <%= image_tag("logo-footer.png", :class => "logo-footer") %>
    <a href="#">Mentions légales</a>
  </div>
</div>
