<!DOCTYPE html>
<html>
  <head>
    <title>bxp. | Une nouvelle approche de l'immobilier pour les entreprises</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- ########## Header ########## -->

    <div class="slider">

      <div class="container">

        <div class="header">

          <%= link_to root_path do%>
            <img src="logo-bxp-website.png" class="header-logo">
          <%end%>

          <ul class="header-menu">
            <li><a href="#service">Service</a></li>
            <li><a href="#outil">Outil</a></li>
            <li><a href="#equipe">Qui sommes-nous ?</a></li>
            <li><a href="mailto:contact@bxp-conseil.fr?subject=BXP | Contact via site" class="btn-demo">Nous contacter</a></li>
          </ul>

        </div>

      </div>

      <%= yield %>

      <!-- ########## Footer ########## -->

  </body>
</html>
